useDynLib(LPStimeSeries, .registration = TRUE)

export(learnPattern, tunelearnPattern, computeSimilarity, getTreeInfo,
	   plotMDS, visualizePattern, discriminativePatterns, LPSNews)

S3method(print, learnPattern)
S3method(predict, learnPattern)
S3method(plot, learnPattern)
S3method(learnPattern, default)

importFrom(RColorBrewer, brewer.pal)
importFrom(stats, predict, runif)
importFrom(graphics, matplot, par, points, legend, pairs, plot, lines, rect)
importFrom(grDevices, rainbow, adjustcolor)
